<div id="page-wrap">

  <img [src]="imgURL" alt="Photo of Cthulu" id="pic" />

  <div id="contact-info" class="vcard">

    <!-- Microformats! -->

    <h1 class="fn">{{ name }}</h1>

    <p>
      Cell: <span class="tel">{{ phone }}</span><br />
      Email: <a class="email" href="mailto:{{ email }}">{{ email }}</a>
    </p>
  </div>

  <div id="objective">
    <p>
      {{about}}
    </p>
  </div>

  <div class="clear"></div>

  <dl>
    <dd class="clear"></dd>

    <dt>Education</dt>
    <dd>
      <div class="container" *ngFor="let education of educations; let i=index">

        <h2>{{ education.school }}</h2>
        <p><strong>{{ education.grade }}:</strong> {{ education.name }} <span>{{ education.period }}</span><br />
          <strong>Minor:</strong> Scale Tending
        </p>
      </div>
    </dd>

    <dd class="clear"></dd>

    <dt>Skills</dt>
    <dd>
      <div *ngFor="let skill of skills">
        <h2>{{ skill.title }}</h2>

        <p>{{skill.description}}</p>
      </div>

    </dd>

    <dd class="clear"></dd>

    <dt>Experience</dt>
    <dd>
      <div class="exp" *ngFor="let exp of experiennce; let i=index">

        <h2>{{ exp.name }} <span>{{ exp.post }}, {{ exp.periode }}</span></h2>
        <p>
          {{ exp.description }}
        </p>
      </div>
    </dd>

    <dd class="clear"></dd>

    <dt>Hobbies</dt>
    <dd><span *ngFor="let hobie of hobies">{{ hobie.name }}</span>,</dd>

    <dd class="clear"></dd>
  </dl>

</div>
