<app-nav-bar></app-nav-bar>
<div class="resent">
  <a  [routerLink]="[ '/themes', ]" class="new">
    <span>
      New resume
    </span>
  </a>

  <div class="message">
    Resently edited
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">

      <div class="card  p-10" style="background-image: url('assets/images/cv.png');">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="floter">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
      </div>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
    </div>
        <div class="col">

          <div class="card  p-10">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="floter">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button>
              <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button>
            </mat-menu>
          </div>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
        </div>
            <div class="col">

              <div class="card  p-10">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="floter">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>dialpad</mat-icon>
                    <span>Redial</span>
                  </button>
                  <button mat-menu-item disabled>
                    <mat-icon>voicemail</mat-icon>
                    <span>Check voice mail</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Disable alerts</span>
                  </button>
                </mat-menu>
              </div>
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
            </div>
                <div class="col">

                  <div class="card  p-10">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="floter">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                        <mat-icon>dialpad</mat-icon>
                        <span>Redial</span>
                      </button>
                      <button mat-menu-item disabled>
                        <mat-icon>voicemail</mat-icon>
                        <span>Check voice mail</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>notifications_off</mat-icon>
                        <span>Disable alerts</span>
                      </button>
                    </mat-menu>
                  </div>
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                  </mat-card-header>
                </div>
                    <div class="col">

                      <div class="card  p-10">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="floter">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item>
                            <mat-icon>dialpad</mat-icon>
                            <span>Redial</span>
                          </button>
                          <button mat-menu-item disabled>
                            <mat-icon>voicemail</mat-icon>
                            <span>Check voice mail</span>
                          </button>
                          <button mat-menu-item>
                            <mat-icon>notifications_off</mat-icon>
                            <span>Disable alerts</span>
                          </button>
                        </mat-menu>
                      </div>
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                      </mat-card-header>
                    </div>
                        <div class="col">

                          <div class="card  p-10">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="floter">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                              <button mat-menu-item>
                                <mat-icon>dialpad</mat-icon>
                                <span>Redial</span>
                              </button>
                              <button mat-menu-item disabled>
                                <mat-icon>voicemail</mat-icon>
                                <span>Check voice mail</span>
                              </button>
                              <button mat-menu-item>
                                <mat-icon>notifications_off</mat-icon>
                                <span>Disable alerts</span>
                              </button>
                            </mat-menu>
                          </div>
                          <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                          </mat-card-header>
                        </div>
  </div>
</div>
<!--  -->
