<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Experiene
    </mat-panel-title>
    <mat-panel-description>
      {{panelOpenState ? 'opened' : 'closed'}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>The Experience Box <button mat-raised-button color="primary" (click)="create()">
      <mat-icon>add</mat-icon>
      Add
    </button>
  </p>
  <mat-expansion-panel hideToggle class="width-100" *ngFor="let item of list; let i=index">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Experience {{ i }}
      </mat-panel-title>
      <mat-panel-description  class=" spacer">
        <span>This is a summary of the content</span>
        <button mat-raised-button color="warn" (click)="delete(i)">
          <mat-icon>delete</mat-icon>
          Delete
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col col-12">
        <div class="ligne2">
          <div class="mg-5">
            <div class="col col-12 "> Email Adress </div>
            <input class="col-12 last longinput">
          </div>
        </div>
      </div>
      <div class="flexer">

        <div class="col col-6">
          <div class="ligne2">
            <div class="mg-5">
              <div class="col col-12 "> Email Adress </div>
              <input class="col-12 last shotinput">
            </div>
          </div>
        </div>
        <div class="col col-6">
          <div class="ligne2">
            <div class="mg-5">
              <div class="col col-12 "> Email Adress </div>
              <input class="col-12 last shotinput">
            </div>
          </div>
        </div>
      </div>
      <div class="flexer">

        <div class="col col-6">
          <div class="ligne2">
            <div class="mg-5">
              <div class="col col-12 "> Email Adress </div>
              <input class="col-12 last shotinput">
            </div>
          </div>
        </div>
        <div class="col col-6">
          <div class="ligne2">
            <div class="mg-5">
              <div class="col col-12 "> Email Adress </div>
              <input class="col-12 last shotinput">
            </div>
          </div>
        </div>
      </div>
      <div class="col col-12">
        <div class="ligne2">
          <div class="mg-5">
            <div class="col col-12 "> Description</div>
            <textarea name="" id="" cols="30" rows="10" class="col-12 last longinput description"></textarea>
            <!-- <input type="" > -->
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>

</mat-expansion-panel>
