.mat-mdc-form-field+.mat-mdc-form-field {
  margin-left: 8px;
}

.rows {
  display: flex;
  justify-content: space-between;
  height: 90%;

}

.spacer {
  min-height: 30px;
}

.cent {
  width: 50%;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
}

.displayer {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
