<div class="wrapper container container">
  <div class="left container">
    <h2>Edition zone</h2>
    <div>

      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name"
            [(ngModel)]="name">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Proffesion</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="proffession"
            [(ngModel)]="proffession">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">EMAIL</label>
          <input type="mail" class="form-control" id="exampleInputPassword1" name="email" [(ngModel)]="email">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">PHONE</label>
          <input type="phone" class="form-control" id="exampleInputPassword1" name="phone" [(ngModel)]="phone">
        </div>
        <div class="form-outline">
          <label class="form-label" for="textAreaExample2">About </label>
          <textarea class="form-control" id="textAreaExample2" rows="8" name="about" [(ngModel)]="about"></textarea>
        </div>
        <div class="mb-3">
          <h1>SKILL</h1>
          <div *ngFor="let skill of skills; let i=index">
            <h3>
              SKILL {{ i+1 }} <button class="btn btn-warning" (click)="removeSkill(i)" *ngIf="i>0">remove</button>
            </h3>
            <label for="exampleInputPassword1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="{{ i }}" [(ngModel)]="skill.title">
            <label for="exampleInputPassword1" class="form-label">DESCRIPTION</label>
            <textarea class="form-control" id="textAreaExample2" rows="8" name="{{ i }}description"
              [(ngModel)]="skill.description"></textarea>
            <br>
          </div>
          <br>
          <div class="btn btn-primary" (click)="addSkill()">Add Skill</div>
        </div>
        <div *ngIf="technical.length!=0">

          <div class="technic" *ngFor="let tec of technical;let i=index">
            <h3>
              Technique {{ i+1 }} <button class="btn btn-warning" (click)="removetec(i)">remove</button>
            </h3>
            <label for="exampleInputPassword1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="{{ i }}" [(ngModel)]="tec.name">
            <br>
          </div>
          <br>
        </div>
        <div class="container">

          <div class="btn btn-primary" (click)="addTechnique()">
            Add Technique
          </div>
        </div>
        <div class="experience" *ngFor="let exp of experience;let i=index">
          <h3>
            EXPERIENCE {{ i+1 }} <button class="btn btn-warning" (click)="removeexp(i)">remove</button>
          </h3>
          <label for="exampleInputPassword1" class="form-label">NAME(eg:FOLONG EMERSON)</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="{{ i }}name" [(ngModel)]="exp.name">
          <label for="exampleInputPassword1" class="form-label">POST(eg:designer)</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="{{ i }}post" [(ngModel)]="exp.post">
          <br>
          <label for="exampleInputPassword1" class="form-label">Periode (eg:2010-2012)</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="{{ i }}date" [(ngModel)]="exp.date">
          <br>
          <label for="exampleInputPassword1" class="form-label">DESCRIPTION</label>

          <textarea class="form-control" id="textAreaExample2" rows="8" name="{{ i }}description"
            [(ngModel)]="exp.description"></textarea>
          <br>

          <br>
        </div>
        <br>
        <div class="container">
          <div class="btn btn-primary" (click)="addExperience()">
            Add EXPERIENCE

          </div>
        </div>
        <div class="hob container" *ngIf="hobies.length>0">

          <div class="hobie" *ngFor="let hobie of hobies;let i=index">
            <h5>Hobie {{ i+1 }}</h5>
            <input type="text" class="form-control" id="exampleInputPassword1" name="{{ i }}hobie"
              [(ngModel)]="hobies[i].name">
            <div class="btn btn-warning" (click)="removeHobie(i)"> Remove</div>
          </div>

        </div>
        <div class="container">
          <br>
          <div class="btn btn-primary" (click)="addHobie()">Add Hobie</div>
        </div>


        <!-- this place is reserve to the education -->

        <div class="hob container" *ngIf="educations.length>0">

          <div class="hobie" *ngFor="let education of educations;let i=index">
            <h5> Education {{ i+1 }} <span><button class="btn btn-warning" (click)="removeEducation(i)"> Remove</button></span></h5>

            <label for="exampleInputPassword1" class="form-label">Education name</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="{{ i }}education"
              [(ngModel)]="education[i].name">
            <label for="exampleInputPassword1" class="form-label">Education school</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="{{ i }}school"
              [(ngModel)]="education[i].school">
            <label for="exampleInputPassword1" class="form-label">Education period</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="{{ i }}period"
              [(ngModel)]="education[i].period">
            <label for="exampleInputPassword1" class="form-label">Education grade</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="{{ i }}grade"
              [(ngModel)]="education[i].grade">
          </div>

        </div>
        <div class="container">
          <br>
          <div class="btn btn-primary" (click)="addEducation()">add education</div>
        </div>


        <h3>Upload you picture</h3>
        <span style="color:red;" *ngIf="message">{{message}}</span>
        <input #file type="file" accept='image/*' (change)="preview(file.files)" name="file" />
        <img [src]="imgURL" height="200" *ngIf="imgURL">
      </form>
    </div>
  </div>
  <div class="right container">
    <h1>Preview Zone</h1>
    <app-preview-side [name]="name" [proffession]="proffession" [email]="email" [phone]="phone" [about]="about"
      [skills]="skills" [technical]="technical" [experiennce]="experience" [imgURL]="imgURL" [hobies]="hobies"
      [educations]="educations"></app-preview-side>
  </div>

</div>
