<h1>
  ici il est cense y avoir une liste de themplate utilisable pour la realisation
</h1>
<div class="theme container">
  <div class="row">
    <div class="col">

      <a routerLink="edit/1/true" class="col">
        default Themplate
        <img src="assets/me.png" alt="" style="height: 250px;">
      </a> <br> <br>
    </div>
    <div class="col">

      <a routerLink="edit/2/true" class="col">
        themplate 2
        <img src="assets/compo2.png" alt="" style="height: 250px;">
      </a> <br> <br>
    </div>
    <div class="col">

      <a routerLink="edit/5/true" class="col">
        themplate 5
        <img src="assets/01.jpg" alt="" style="height: 250px;">
      </a> <br> <br>
    </div>
    <div class="col">

      <a routerLink="edit/5/true" class="col">
        themplate 5
        <img src="assets/01.jpg" alt="" style="height: 250px;">
      </a> <br>
    </div>
  </div>
</div>
