<div class="container">
  <div class="row header">
    <div class="name">{{ name | async }}{{ familyName | async}}</div>
    <div class="post">
      {{post | async}}
    </div>
    <div class="row">
      <div class="col-4">{{email | async}}</div>
      <div class="col-4">{{phone | async}}</div>
      <div class="col-4">{{adresse | async}}</div>
    </div>
    <!-- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam reprehenderit cupiditate perspiciatis voluptate rem iste dolor beatae, recusandae sed mollitia laudantium, aperiam veritatis. -->
  </div>
  <div class="row ">
    <div class="colone1 col-9">
      <!-- pour la box des education et autres -->
      <div class="div" *ngIf="(educations|async)?.length!=0">

        <div class="educationbox">
          <div class="educationtitle">
            Education
          </div>
          <div class="div" *ngFor="let education of( educations |async); let i=index">
            <div class="name-date">
              <div class="education-name">{{education.name}}</div>
              <div class="education-date">
                {{education.begin}} ||{{education.end}}
              </div>
            </div>
            <div class="ecole-ville">
              {{education.school}},{{education.town}}
            </div>
            <div class="education-description">
              {{education.description}}
            </div>
          </div>
        </div>
      </div>

      <!-- partie pour l'experience -->
      <div class="div" *ngIf="(experiences|async)?.length!=0">

        <div class="educationbox">
          <div class="educationtitle">
            Experiences
          </div>
          <div class="div" *ngFor="let experience of( experiences |async); let i=index">
            <div class="name-date">
              <div class="education-name">{{experience.name}}</div>
              <div class="education-date">
                {{experience.begin}} ||{{experience.end}}
              </div>
            </div>
            <div class="ecole-ville">
              {{experience.school}},{{experience.town}}
            </div>
            <div class="education-description">
              {{experience.description}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- pour le skill et les langues -->
    <div class="colone2 col-3">
      <div class="skillBox" *ngIf="(skills|async)?.length!=0">
        <div class="boxtitle">
        Skill
        </div>
        <ng-container *ngFor="let skill of (skills| async); let i=index">
          <div class="box-item">
            <span>{{skill.name}}</span>
            <mat-progress-bar mode="determinate" [value]="skill.level">
            </mat-progress-bar>
          </div>
        </ng-container>
      </div>

      <div class="skillBox" *ngIf="(languages|async)?.length!=0">
        <div class="boxtitle">
          Lnaguage
        </div>
        <ng-container *ngFor="let language of (languages | async); let i=index">


          <div class="box-item">
            <span>{{language.name}}</span>
            <mat-progress-bar mode="determinate" [value]="language.level">
            </mat-progress-bar>
          </div>
        </ng-container>
      </div>

      <div class="skillBox " *ngIf="(hobbies|async)?.length!=0">
        <div class="boxtitle ">
          Hobbies
        </div>
        <div class="hobie-box">

          <span class="hobbie-name" *ngFor="let hobbie of (hobbies | async); let i=index">
            {{hobbie}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
