
<button (click)="dawnload()" class="btn btn-primary">Dawnload</button>

<div [ngSwitch]="thamplate" id="htmlData">
  <div *ngSwitchCase="1">
    <app-default [name]="name" [proffession]="proffession" [email]="email" [phone]="phone" [about]="about" [skills]="skills" [technical]="technical" [experiennce]="experiennce" [imgURL]="imgURL" [hobies]="hobies" [educations]="educations" ></app-default>
  </div>
  <div *ngSwitchCase="2">
    <app-compo2 [name]="name" [proffession]="proffession" [email]="email" [phone]="phone" [about]="about" [skills]="skills" [technical]="technical" [experiennce]="experiennce" [imgURL]="imgURL" [hobies]="hobies" [educations]="educations"></app-compo2>
  </div>
  <div *ngSwitchDefault>
    default
  </div>
</div>

